/* Booking & Learning Style : */

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap'); */
/* *{font-family: none;} */

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	background:#f3f1e8;;
}

.booking-form {
	position: relative; 
	max-width: 912px; 
	 width: 100%;
	 margin: auto; 
	 background: #fff; 
	 border-radius: 6px;
    box-shadow: #2e2924;
}

.booking-form .booking-bg {
	 position: absolute; 
	left: 25px;
	top: -25px; 
	 bottom: -25px;
	width: 400px; 
	background-image: url('https://previews.123rf.com/images/natcha29/natcha292003/natcha29200300009/141764918-music-poster-design-template-background-decorative-with-guitar-vintage-retro-style-graphic-design-el.jpg');
	background-size:90%; 
	 background-position: center; 
	 padding: 25px; 
	 border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden; 
}

.booking-form .booking-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(123, 123, 123, 0.78);
}

.booking-form>form {
	margin-left: 425px;
	
	padding: 5px;
}

.booking-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header h2 {
	margin-bottom: 15px;
	font-weight: 900;
	color: #fff;
	font-size: 35px;
	padding: 20px;
	text-transform: capitalize;
}

.booking-form .form-header p {
	color: #e1dede;
	font-size: 18px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 7px;
   /* padding-left: 40px; */
	
}

.booking-form .form-group .hh{
	position: relative;
	margin-bottom: 50px;
	margin-top: 0px;
   padding-left: 70px;
   font-size: large;
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	
}

.booking-form .form-group .timeoption{
	color: #151515;
	border: 0px;
}





.booking-form .form-control {
	background-color: #fff;
	height: 30px;
	padding: 0px 15px;
	padding: 6px;
	color: #151515;
	border: 1px solid #dfdcdc;
	font-size: 16px;
	font-weight: 500;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	border-top: 0px;
	border-left: 0;
	border-right: 0;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control::placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:focus {
	background: #f8f8f8;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control option {
	color: #ebe5e5;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #e5e5e5;
	font-size: 13px;
	padding: 5px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #6c6967;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 13px;
	font-weight: 900;
	margin-left: 50px;
	padding: 10px;
}

.booking-form .form-btn {
	margin-top: 31px;
	margin-bottom: 4px;
}

.booking-form .submit-btn {
	display: block;
	width: 70%;
	/* margin-top: 50px; */
	margin-left: 90px;
	color: #fff;
	background-color: rgba(26, 25, 24, 0.9);
	font-weight: 70;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}


.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	background-color: rgb(103, 101, 100);
}

@media only screen and (max-width: 769px) {
	.booking-form .booking-bg {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: -15px;
		width: 80%;
		margin: auto;
	}
	.booking-form .submit-btn{
		margin-left: 60px;
	}
	.booking-form>form {
		margin-left: 0px;
	}
	.booking-form .form-btn {
		
		margin-left: 0px;
	}
} 
@media only screen and (min-width: 450px) and (max-width: 769px){

	.booking-form .form-btn {
		
		margin-left: 50px;
	}


}

